    <div class=" admin-content">
        <div class="daohang">
            <ul>
            <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">首页</li>
            <li>
                <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">
                权限管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                </button>
            </li>
            </ul>
        </div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on">
                权限管理
                </ul>
                <dl class="am-icon-home" style="float: right;">
                    当前位置： 权限管理 > <a href="">权限列表</a>
                </dl>
                <dl>
                    <a href="{:U('add_node','','')}" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" data-am-modal="{target: '#my-popup'}">
                    添加模块</a>
                </dl>
            </div>
            <div class="am-form am-g" name="myform" id="myform">
                <foreach name="node" item="app">
                <div class="am-form-group am-cf">
                    <div class="zuo" style="margin-bottom: 2px;">
                    {$app.title} 
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="{:U('add_node',array('pid'=>$app['id'],'level'=>2),'')}">添加控制器</a>
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary">修改</a>
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary">删除</a>
                        <foreach name="app.child" item="controller">
                            <div class="you" style="margin-top: 10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {$controller.title}
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="{:U('add_node',array('pid'=>$controller['id'],'level'=>3),'')}">添加方法</a>
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary">修改</a>
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary">删除</a>
                            <foreach name="controller.child" item="method">
                            <div class="you" style="margin-top: 10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong>{$method.title}</strong>
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary">修改</a>
                            <a class="am-btn am-btn-default am-btn-xs am-text-secondary">删除</a>  
                            </div>
                            </foreach>
                            </div>
                        </foreach>
                    </div>
                </div>
                </foreach>
            </div>
