		    <div class="foods">
		    	<ul>版权所有@2018 .</ul>
		    	<dl><a href="{:U('/Admin/index/index')}" title="返回首页" class="am-icon-btn am-icon-arrow-up"></a></dl>
		    </div>
		</div>
	</div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{$base_path}/js/polyfill/rem.min.js"></script>
<script src="{$base_path}/js/polyfill/respond.min.js"></script>
<script src="{$base_path}/js/amazeui.legacy.js"></script>
<![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="{$base_path}/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="{$base_path}/js/moment-with-locales.min.js"></script>
<script src="{$base_path}/js/amazeui.datetimepicker-se.min.js"></script>
</body>
</html>