<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0，maximum-scale=1"> -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <title>创世资本 Genesis</title>
    <link rel="stylesheet" href="{$pcpath}/css/style.css">
    <link rel="stylesheet" href="{$pcpath}/dist/e4143873b96d8274071f6376988be507.css">
    <link rel="stylesheet" media="(min-width: 1024px)" href="{$pcpath}/dist/e01d7188b2eaaea7dab92fc906f7f94a.css">