<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <title>创世资本 Genesis</title>
  <link rel="stylesheet" href="{$pcpath}/dist/e4143873b96d8274071f6376988be507.css">
  <link rel="stylesheet" media="(min-width: 1024px)" href="{$pcpath}/dist/e01d7188b2eaaea7dab92fc906f7f94a.css">
<body>
  <div class="main" id="fullpage">
    <div class="section">
      <div class="wrap index">
        <div class="background">
          <div class="content">
            <h1 class="company-name">
              <span>创世资本</span>
              <img class="logo" src="{$pcpath}/dist/70c2f899652e57ca906d4dce575e0b32.png" alt="创世资本 logo">
            </h1>
            <p class="language">
              <a class="link" href="/">中文</a>
              <a class="link" href="/en">EN</a>
            </p>
            <div class="time">
              <span>距离创世区块成立</span><br>
              <span>已经过去</span><br>
              <strong class="year">0</strong>
              <span>年</span>
              <strong class="month">0</strong>
              <span>个月</span>
              <strong class="day"></strong>
              <span>天</span>
            </div>
            <div class="guide">下滑</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="wrap projects">
        <h2><img class="logo" src="{$pcpath}/dist/b6f0ccc35d3c66eb689f5df5567e2cb5.png" alt="创世资本 logo"></h2>
        <div class="content">
          <ul class="project-list">
            <li>
              <span class="name">18区</span>
              <a class="link" target="_blank" href="https://www.pgyer.com">区块链领域专业化的信息传递</a>
            </li>
            <li>
              <span class="name">Trustnote</span>
              <a class="link" target="_blank" href="javascript:void(0)">公有链技术平台</a>
            </li>
            <li>
              <span class="name">ART</span>
              <a class="link" target="_blank" href="javascript:void(0)">为艺术品提供数字证书的平台</a>
            </li>
            <li>
              <span class="name">ULIVE</span>
              <a class="link" target="_blank" href="{$pcpath}/file/YouLive_WhitepaperV1.0.4.pdf">去中心化实时内容分享平台
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
            <li>
              <span class="name">CPS</span>
              <a class="link" target="_blank" href="javascript:void(0)">利用区块链技术建立数字身份系统</a>
            </li>
            <li>
              <span class="name">Pocker</span>
              <a class="link" target="_blank" href="{$pcpath}/file/pokerio_en.pdf">全球区块链扑克游戏平台
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
            <li>
              <span class="name">Charter</span>
              <a class="link" target="_blank" href="http://chater.foundation">方圆（股书）</a>
            </li>
            <li>
              <span class="name">HYDRO</span>
              <a class="link" target="_blank" href="{$pcpath}/file/Hydro-Whitepaper-v0116-en.pdf">内建激励机制的网络底层协议
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
            <li>
              <span class="name">BAIC</span>
              <a class="link" target="_blank" href="javascript:void(0)">连接AI 和IOT的个人数据价值链</a>
            </li>
            <li>
              <span class="name">DATA</span>
              <a class="link" target="_blank" href="{$pcpath}/file/DATA_Draft_V1.52.pdf">
                去中心化数据信用协议
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
            <li>
              <span class="name">AAA</span>
              <a class="link" target="_blank" href="javascript:void(0)">大数据</a>
            </li>
            <li>
              <span class="name">penta</span>
              <a class="link" target="_blank" href="javascript:void(0)">底层项目</a>
            </li>
            <li>
              <span class="name">SOORTS</span>
              <a class="link" target="_blank" href="https://www.allsportschain.com/paper/all_sports_blockchain_open_platform_white_paper.pdf?20180327">体育产业区块链开放平台
                <img class="icon" src="{$pcpath}/dist/download.jpg"></a>
            </li>
            <li>
              <span class="name">ESPORTS</span>
              <a class="link" target="_blank" href="javascript:void(0)">电竞区块链</a>
            </li>
            <li>
              <span class="name">PIXIE</span>
              <a class="link" target="_blank" href="{$pcpath}/file/PixieCoinWhitePaper_EN.pdf">
                设计师创意交易变现平台
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
            <li>
              <span class="name">Tripio</span>
              <a class="link" target="_blank" href="javascript:void(0)">去中心化旅行服务市场</a>
            </li>
            <li>
              <span class="name">OceanChain</span>
              <a class="link" target="_blank" href="./file/OceanChainEnglish.pdf">
                海洋渔业区块链
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
            <li>
              <span class="name">ShineChain</span>
              <a class="link" target="_blank" href="{$pcpath}/file/shinechain_white_paper_en.pdf">
                基于区块链的全球互助保障社区
                <img class="icon" src="{$pcpath}/dist/download.jpg">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="wrap about">
        <div class="content">
          <img class="logo" src="{$pcpath}/dist/70c2f899652e57ca906d4dce575e0b32.png" alt="创世资本 logo">
          <p class="intro">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="wrap group">
        <div class="content">
          <h2 class="title">团队介绍</h2>
          <div class="group-image"></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="wrap contact">
        <h2 class="title">联系我们</h2>
        <div class="content">
          <img class="location" src="{$pcpath}/dist/362172a4e4f06bc254c0fcf81ea38c4c.png" alt="地址">
          <div class="info">
            <p class="contact-way">daisywho@newgenesis.com</p><br>
            <p class="contact-way">135 4755 5574</p><br>
            <p class="contact-way">北京市朝阳区望京街道方恒时代B座1301</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{$pcpath}/dist/jquery.min.js"></script>
  <script src="{$pcpath}/dist/genesis_web.js"></script>
</body>
</html>