    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                </li>
            </ul>
        </div>
        <div class="admin-biaogelist">   	
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 添加提币手续费</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 
                    <a href="{:U('gas_inlist')}">提币手续费管理</a> > 增加平台提币手续费
                </dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" id="myform">

                    <div class="am-form-group am-cf">
                        <div class="zuo">平台名称：</div>
                        <div class="you">
                        <select data-am-selected="{btnWidth: 100%, btnSize: 'sm', btnStyle: 'default'}" name="plat_code">
                            <foreach name="platform" key="key" item="platname">
                                <option value="{$platname}">{$platname}</option>
                            </foreach>
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">币种对象：</div>
                        <div class="you">
                        <select data-am-selected="{btnWidth: 100%, btnSize: 'sm', btnStyle: 'default'}" name="currency_code">
                            <foreach name="currency" key="key" item="currency">
                                <option value="{$currency}">{$currency}</option>
                            </foreach>
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">手续费百分比：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" id="doc-ipt-email-1" name="percent" placeholder="请输入手续费比例,精确到小数点后两位" 
                            onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\u4e00-\u9fa5]/g,''))" onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'')">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">固定手续费：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" id="doc-ipt-email-1" name="state_value" placeholder="请输入手续费的固定值" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\u4e00-\u9fa5]/g,''))" onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'')">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">是否开启：</div>
                        <div class="you">
                            <input type="radio" name="is_used" value="1" checked="checked" />开启
                            <input type="radio" name="is_used" value="0" />关闭
                        </div>
                    </div>
                    <div class="am-form-group am-cf" id="lastdiv">
                        <div class="you" style="margin-left: 11%;">
                            <input type="hidden" name="gas_type" value="2">
                            <input type="button" class="am-btn am-btn-success am-radius" value="添加提币手续费" onclick="saveForm();"/>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                function saveForm() {
                    var params1 = $("#myform").serialize();
                    $.ajax( {
                        url : "{:U('add_gasout')}",
                        type : 'POST',
                        data : params1,
                        success : function(msg) {
                            alert(msg.message);
                            if(msg.data !='')
                            {
                                window.location.href = msg.data;
                            }
                        }
                    });
                }
            </script>