    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </li>
            </ul>
        </div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 手续费设置日志</ul>
                <dl class="am-icon-home" style="float: right;">当前位置： <a href="{:U('index')}">首页</a> > 
                    手续费设置日志
                </dl>
                <!--这里打开的是新页面-->
            </div>
            <!--列表显示页面-->
            <form class="am-form am-g">
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
                <thead>
                    <tr class="am-success">
                    <th class="table-id">ID</th>
                    <th class="table-title">平台</th>
                    <th class="table-title">手续费币种</th>
                    <th class="table-type">手续费百分比</th>
                    <th class="table-type">手续费固定值</th>
                    <th class="table-author am-hide-sm-only">操作说明</th>
                    <th class="table-author am-hide-sm-only">操作人</th>
                    <th class="table-author am-hide-sm-only">操作时间</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="loglist" id="loginfo">
                        <tr>
                            <td>Log{$loginfo.lgid}</td>
                            <td>{$loginfo.plat_code}</td>
                            <td class="am-hide-sm-only">{$loginfo.currency_code}</td>
                            <td>{$loginfo.percent}%</td>
                            <td>{$loginfo.state_value}</td>                            
                            <td class="am-hide-sm-only">{$loginfo.remark}</td>
                            <td class="am-hide-sm-only">{$loginfo.uname}</td>
                            <td class="am-hide-sm-only">{$loginfo.addtime|date="Y-m-d H:i:s",###}
                        </tr>
                    </volist>
                </tbody>
                </table>
                <ul class="am-pagination am-fr">
                    {$pager}
                </ul>
            </form>