    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </li>
                <li>
                    <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">用户管理
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                    </button>
                </li>
            </ul>
        </div>
        <div class="admin-biaogelist">   	
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 权限管理</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 
                    <a href="{:U('node_list')}">权限管理</a> > 添加{$type}
                </dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" method="post" action="{:U('add_node')}">
                    <div class="am-form-group am-cf">
                        <div class="zuo">{$type}名称：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" id="doc-ipt-email-1" name="name" placeholder="请输入{$type}名称">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">权限描述：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" id="doc-ipt-email-1" name="title" placeholder="请输入权限描述">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">是否开启：</div>
                        <div class="you">
                            <input type="radio" name="status" value="1" checked="checked" />开启
                            <input type="radio" name="status" value="0" />关闭
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">排序:</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" id="doc-ipt-email-1" name="sort" />
                            <input type="hidden" name="pid" value="{$pid}" />
                            <input type="hidden" name="level" value="{$level}" />
                        </div>
                    </div>
                    <div class="am-form-group am-cf" id="lastdiv">
                        <div class="you" style="margin-left: 11%;">
                            <input type="submit" class="am-btn am-btn-success am-radius" value="添加{$type}" />
                        </div>
                    </div>
                </form>
            </div>