    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 进销存添加 </li>
            </ul>
        </div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <dl class="am-icon-home"> 当前位置：
                    <a href="{:U('list')}">进货单列表</a> > 添加进货单
                </dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" id="myform">
                    <div class="am-form-group am-cf">
                        <div class="zuo">币种编号：</div>
                        <div class="you">
                            <select data-am-selected="{btnWidth: 100%, btnSize: 'sm', btnStyle: 'default'}" name="currency_code">
                                <foreach name="currency_code" key="key" item="obj">
                                    <option value="{$obj}">{$obj}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">进货数量：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" name="purchase_num" placeholder="请输入进货数量">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">进货价格：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" name="curr_price" placeholder="请输入进货价格">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">总金额：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" name="total_amount" placeholder="请输入总金额">
                        </div>
                    </div>
                    <!--<div class="am-form-group am-cf">-->
                        <!--<div class="zuo">交易哈希：</div>-->
                        <!--<div class="you">-->
                            <!--<input type="text" class="am-input-sm" name="tx_hash" placeholder="请输入交易哈希(选填)">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="am-form-group am-cf">
                        <div class="zuo">发出地址：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm" name="sender_addr" placeholder="请输入进货发出地址">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">接收地址：</div>
                        <div class="you">
                            <select data-am-selected="{btnWidth: 100%, btnSize: 'sm', btnStyle: 'default'}" name="receive_addr">
                                <foreach name="bus_address" key="key" item="bus_addr">
                                    <option value="{$bus_addr}">{$bus_addr}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-cf" id="lastdiv">
                        <div class="you" style="margin-left: 11%;">
                            <input type="button" class="am-btn am-btn-success am-radius" value="提交" onclick="saveForm();"/>
                        </div>
                    </div>
                </form>
            </div>
            <script>
                function saveForm() {
                    var params1 = $("#myform").serialize();
                    $.ajax( {
                        url : "{:U('add')}",
                        type : 'POST',
                        data : params1,
                        success : function(msg) {
                            //console.log(msg);
                            alert(msg.res_info);
                            if(msg.result == 0 && msg.result_rows !='')
                            {
                                window.location.href = msg.result_rows;
                            }
                        }
                    });
                }
            </script>