    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                </li>
            </ul>
        </div>
        <div class="admin-biaogelist">   	
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 增加token分配记录</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 
                    <a href="{:U('tokenList')}">token分配记录列表</a> > 增加token分配记录
                </dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" id="myform">
                    <div class="am-form-group am-cf">
                        <div class="zuo">token分配名称：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm"  name="name" placeholder="请输入token分配记录名称">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">token分配值：</div>
                        <div class="you">
                            <input type="text" class="am-input-sm"  name="txtcode" placeholder="请输入token分配记录值">
                        </div>
                    </div>
                    <div class="am-form-group am-cf" id="lastdiv">
                        <div class="you" style="margin-left: 11%;">
                            <input type="button" class="am-btn am-btn-success am-radius" value="添加" onclick="saveForm();"/>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
                function saveForm() {
                    var params1 = $("#myform").serialize();
                    $.ajax( {
                        url : "{:U('tokenAdd')}",
                        type : 'POST',
                        data : params1,
                        success : function(msg) {
                            if(msg.data !='')
                            {
                                window.location.href = msg.data;
                            }
                        }
                    });
                }
            </script>