    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 提现管理 </li>
                <li>
                    <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">提现列表
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                    </button>
                </li>
            </ul>
        </div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on">提现申请明细</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 
                    <a href="{:U('list')}">提现列表</a> > 提现申请明细
                </dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" id="myform">
                    <div class="am-form-group am-cf">
                        <div class="zuo">交易号：</div>
                        <div class="zuo" {$div}>{$data.trade_no}</div>
                        <div class="zuo">用户编号：</div>
                        <div class="zuo" {$div}>{$data.uid}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">基础状态：</div>
                        <div class="zuo" {$div}>{$PresentStatusSearch[$data['status']]}</div>
                        <div class="zuo">平台编码：</div>
                        <div class="zuo" {$div}>{$data.plat_code}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">真实姓名：</div>
                        <div class="zuo" {$div}>{$data.real_name}</div>
                        <div class="zuo">开户行：</div>
                        <div class="zuo" {$div}>{$data.bank}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">开户支行：</div>
                        <div class="zuo" {$div}>{$data.branch_bank}</div>
                        <div class="zuo">银行卡号：</div>
                        <div class="zuo" {$div}>{$data.bank_card_no}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">币种编号：</div>
                        <div class="zuo" {$div}>{$data.currency_code}</div>
                        <div class="zuo">出售数量：</div>
                        <div class="zuo" {$div}>{$data.sell_num}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">售卖价格：</div>
                        <div class="zuo" {$div}>{$data.curr_price}</div>
                        <div class="zuo">提现金额：</div>
                        <div class="zuo" {$div}>{$data.apply_amount}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">手续费：</div>
                        <div class="zuo" {$div}>{$data.fee_amount}</div>
                        <div class="zuo">到账金额：</div>
                        <div class="zuo" {$div}>{$data.real_amount}</div>
                    </div>

                    <div class="am-form-group am-cf">
                        <div class="zuo">申请人：</div>
                        <div class="zuo" {$div}>{$data.created_by }</div>

                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">申请时间：</div>
                        <div class="zuo" {$div}>{$data.apply_time}</div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">到账时间：</div>
                        <div class="zuo" {$div}><input type="text" class="am-input-sm" name="payment_time" id='datetimepicker1'></div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">打款银行名称：</div>
                        <div class="zuo" {$div}>
                            <select data-am-selected="{btnWidth: 100%, btnSize: 'sm', btnStyle: 'default'}" name="pay_bank">
                                <foreach name="payBank" item="obj">
                                    <option value="{$obj}">{$obj}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">打款卡号：</div>
                        <div class="zuo" {$div}>
                            <select data-am-selected="{btnWidth: 100%, btnSize: 'sm', btnStyle: 'default'}" name="pay_bank_card_no">
                                <foreach name="bankTransNo" item="obj">
                                    <option value="{$obj}">{$obj}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">打款金额：</div>
                        <div class="zuo" {$div}>
                            <input type="text" class="am-input-sm" name="pay_amout" placeholder="请输入您打款的金额">
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <div class="zuo">银行流水号：</div>
                        <div class="zuo" {$div}>
                            <input type="text" class="am-input-sm" name="bank_trans_no" placeholder="请输入银行流水号">
                        </div>
                    </div>
                    <div class="am-form-group am-cf" id="lastdiv">
                        <input type="hidden" name="tradeNo" value="{$data.trade_no}">
                        <div class="you" style="margin-left: 11%;">
                            <input type="button" class="am-btn am-btn-success am-radius" value="提交" onclick="saveForm();"/>
                        </div>
                    </div>
                </form>
            </div>
            <script>
                $(function() {
                    $('#datetimepicker1').datetimepicker();
                });
                function saveForm() {
                    var params1 = $("#myform").serialize();
                    $.ajax( {
                        url : "{:U('edit')}",
                        type : 'POST',
                        data : params1,
                        success : function(msg) {
                            alert(msg.res_info);
                            if(msg.result == 0 && msg.result_rows !='')
                            {
                                window.location.href = msg.result_rows;
                            }
                        }
                    });
                }
            </script>