    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                </li>
            </ul>
        </div>
        <div class="admin-biaogelist">   	
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 编辑项目</ul>
                <dl class="am-icon-home" style="float: right;"> 当前位置： 
                    <a href="{:U('list')}">公告管理</a> > 编辑公告
                </dl>
            </div>
            <div class="fbneirong">
                <form class="am-form" id="myform" method="post" onsubmit="return saveForm();" data-am-validator>
                    <input type="hidden" name="id" value="{$noticeInfo.id}">
                    <fieldset>
                        <div class="am-form-group am-cf">
                            <div class="zuo">
                                <label for="doc-vld-name-2">公告名称：</label>
                            </div>
                            <div class="you">
                                <input type="text" id="doc-vld-name-2" name="title" minlength="4" value="{$noticeInfo.title}" placeholder="请输入项目名称（至少 4 个字符）" required/>
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">公告内容：</div>
                            <div class="you">
                                <script id="editor"  type="text/plain" name="content" tyle="width:100%;height:500px;">{$noticeInfo.content|htmlspecialchars_decode}</script>
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">发布状态：</div>
                            <div class="you" style="padding-top: 5px;">
                                <label class="am-radio-inline">
                                    <input type="radio"  value="0" name="is_published" <if condition="$noticeInfo['is_published'] eq 0"> checked="checked" </if>> 未发布
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" value="1"  name="is_published" <if condition="$noticeInfo['is_published'] eq 1"> checked="checked" </if>> 已发布
                                </label>
                            </div>
                        </div>
                        <div class="am-form-group am-cf" id="lastdiv">
                            <div class="you" style="margin-left: 11%;">
                                <button class="am-btn am-btn-secondary am-radius" type="submit">提交</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <script type="text/javascript">
                var ue = UE.getEditor('editor');
                function saveForm() {
                    var params1 = $("#myform").serialize();
                    $.ajax( {
                        url : "{:U('edit')}",
                        type : 'POST',
                        data : params1,
                        success : function(msg) {
                            console.log(msg);
                            if(msg.res_info =='ok')
                            {
                                alert('更新成功');
                                window.location.href = "{:U('list')}";
                            }else{
                                alert(msg.res_info);
                            }
                        }
                    });
                    return false;
                }
            </script>